################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Ouoiouo.io/FileContentIndex/a6832f3d-ea75-4b3b-8362-62ad5bb78505.vsidx
